@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  body{
    background-color: rgba(17, 17, 17, 1);
    color: rgba(255, 255, 255, 1);
  }
  /* HEader style */
  i{
    font-size: 36px;
    color: rgba(230, 83, 60, 1);
  }
  .nav{
    display: flex;
    justify-content: space-between;
    margin: 57px 190px;
  }
   .menu>ul,.header-description>ul{
    display: flex;
    list-style: none;
    gap:20px;
    color: rgba(255, 255, 255, 1);
    margin-top:30px ;
   }
   .btn{
    background-color: rgba(230, 83, 60, 1) ;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
    
   }
   .btn-primary{
    height: 25px;
    width: 70px;
   }
   .header-main{
    display: flex;
    justify-content: space-between;
    margin: 40px 170px;
    margin-bottom:0px;
   }
   .header-description{
    height: 500px;
    width: 400px;
   }
   .head-title{
    font-weight: 2000;
    font-size: 50px;
    
   }
   .head-details{
    font-weight: 40;
    font-size: 10px;

   }
   span{
    font-family: Miama;
    font-style: italic;
    font-weight: 100;
    font-size:80px ;
    
   }
   .join{
    height: 30px;
    width: 120px;
    border-radius: 15px;
   }
   .app{
    height: 30px;
    width: 120px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: black;

   }
   .header-image{
    display: flex;
    justify-content: space-between;
    background-image: url(../images/Images\ 2.png);
    background-repeat: no-repeat;
    background-size: 250px;
    height: 600px;
    padding-right: 5px;
    margin-left: 100px;
    

   }
   .card-left{
    height: 60px;
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    background-color:rgba(63, 56, 56, 0.616) ;
    margin-top: 290px;
     /* padding-left: 20px; */
     margin-left: 10px;


   }
   .card-right{
    height: 60px;
    width: 120px;
    gap: 2px;
    background-color:rgba(63, 56, 56, 0.616) ;
    margin-top: 50px;
    margin-right: 20px;
    
   }
   .ball-1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:rgba(230, 83, 60, 1) ;
    margin-top: 13px;
   margin-left: 7px;
    
   }
   
   .taka1{
    margin-top: 10px;
    margin-right: 20px;
   }
   .video{
    margin-top: -20px;
    font-size: 10px;
    
  }
   .ball-det{
    gap: 2px;
   }
   .video2{
    margin-top: -10px;
    font-size: 10px;
    margin-left: 10px;
    
  }
  .taka2{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
   }
   .header-second{
    text-align: center;
    /* margin-top: 20px; */
   }

   #secont-title , #f1-l-title{
    font-weight: 2000;
    font-size: 50px;
    /* line-height: 10px; */
   }
   #second-details{
    font-weight: 50;
    font-size: 20px;
    padding-bottom: 50px;
  
   }
.header-third{
  display: flex;
  justify-content: space-evenly;
  width: 900px;
  margin-left: 130px;
}
.third-1{
  height: 50px;
  width: 250px;
}
.third-2{
  height: 50px;
  width: 250px;
}
.third-3{
  height: 50px;
  width: 250px;
}
.third-4{
  height: 50px;
  width: 250px;
}
#third-title{
  padding-left: 50px;
}
.third-images{
  border-radius: 50%;
}
/* main part */
 .main-first{
  height: 371px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin-top:400px ;
  margin-left: 130px;
  background-color:rgba(63, 56, 56, 0.616) ;
  border-radius: 10px;
  gap: 100px;
}
.first-left{
  height: 250px;
  width: 600px;
  margin-left: 30px;
  /* margin-bottom: 20px; */
  
}
.first-right{
  height: 250px;
  width: 400px;
  padding-left: 180px;
  padding-top: 70px;
  
  
}


.main-image{
  width: 200px;
height: 200px;
top: 30px;
left: 662px;
gap: 0px;
border-radius: 18px 0px 0px 0px;
opacity: 0px;

  
} 

.main-second{
  margin-left: 140px;
  margin-top: 60px;
  height: 100px;
  width: 400px;
}
#second-title{
  font-weight: 30px;
  font-size: 30px;
  
}
#second-dett{
  font-weight: 40;
  font-size: 10px;

}

.main-third{
  height: 371px;
  width: 900px;
  margin-left: 130px;
  margin-top: 20px;

}
.third-top, .third-bottom{
  display: flex;
  justify-content: baseline;
}
#top1{
  width: 225px;
  height: 185px;
  
}
#top2{
  width: 405px;
  height: 185px;
}
#top3{
  width: 270px;
  height: 185px;

}
#bottom1{
  width: 405px;
  height: 185px;
}
#bottom2{
  width: 225px;
  height: 185px;

}
#bottom3{
  width: 270px;
  height: 185px;

}
.main-fourth{
  height: 20px;
  width: 600px;
  margin-left: 200px;
}

.fourth-title{
  font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 57.6px;
margin-top: 30px;
}
.fourth-descript{
  font-family: Inter;
font-size: 14px;
font-weight: 300;
line-height:15px;
/* letter-spacing: 0.30000001192092896px; */
text-align: left;
margin-top: -30px;


}
.main-fifth{
  height: 487px;
  background-color:rgba(63, 56, 56, 0.616) ;
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}
.fifth-left-title{
  font-family: Inter;
font-size: 28px;
font-weight: 900;
line-height: 33.6px;
text-align: left;
margin-left: 50px;
padding-top: 40px;

}
.fifth-left-chart{
  display: grid;
  grid-template-columns: 150px 150px;
  margin-left:50px ;
  margin-top: 80px;
  
}
.fifth-left-chart>div{
  border: 2px solid rgb(72, 70, 70);
  padding-left: 9px;
  padding-top: 9px;
  height: 30px;
  font-family: Inter;
font-size: 14px;
font-weight: 150;
line-height:15px;
  
}
#bmi, #ws{
  font-weight: 90px;
  font-size: 18px;
  color:white;
  font: bold;
}
.fifth-right-title{

  font-family: Inter;
font-size: 28px;
font-weight: 900;
line-height: 33.6px;
margin-right: 250px;
padding-top: 40px;
}
.fifth-right-decript{
  font-family: Inter;
font-size: 14px;
font-weight: 250;
/* line-height: 24px; */
letter-spacing: 0.3px;
padding-right: 3px;

}
.input{
  width: 350px;
  height: 38px;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  background-color:rgba(67, 64, 64, 0.616) ;
  color:linen;
}
.first-input{
  margin-top: 60px;

}
.second-input{
  margin-top: 10px;
}
#sex{
  width: 370px;
  height: 40px;
  padding-left: 3px;
  color:rgb(112, 110, 107);
}
.input1{
  width: 750px;
  height: 38px;
  margin-top: 10px;
  background-color:rgba(67, 64, 64, 0.616) ;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  color:rgb(112, 110, 107);

}
#clc-button{
  margin-top: 20px;
}
  









   @media screen and (max-width:576px) {
    *{
      margin-left: 10px;
      margin-right: 10px;
    }

    .nav{
      margin-left: 60px;
    }

    .menu>ul li{
      display: none;
      
    }
    .menu{
      background-image: url(../images/exercise1.jpg);
      margin-left: 100px; 
     
    }
    .header-main{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      align-items: center;
      margin-left: 30px;
      
    }
    .header-image{
      align-items: center;
      margin-left:60px;
    }
    .card-left{
      margin-top: -120px;
      margin-left: -70px;
    }
    .card-right{
      margin-top:-450px ;
      margin-right: 80px;
    }
    .header-second{
      margin-top: -150px;
    }
    .header-third{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
    .third-1, .third-2, .third-3, .third-4{
      height: 330px;
      width: 200px;
      margin-left: -80px;
     
    }
    .main-first{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      height: 850px;
      width: 250px;
      margin-left: 5px;

    }
    .first-left{
      height: 200px;
      width: 180px;

    }
    .first-right{
      height:90px;
      width: 150px;
      margin-left: -140px;
      
    }
    .main-image{
      padding-right: 10px;
      height: 200px;
      width: 180px;
    }
    .main-second{
      width: 140px;
      margin-left: 20px;
    }
    
    
   }